@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "../../styles/responsive.scss";

.menu {
  width: 240px;
  box-shadow: 0 6px 40px -10px #00000040;
  height: 1290px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  transition: width 0.2s, opacity 0.2s;
  position: relative;


  .icon {
    display: flex;
    align-items: center;
    margin: 32px 16px 30px 14px;

    @include sm {
      margin: 0;
      margin-top: 20px;
      align-items: center;
      margin-left: 20px;
      width: 170px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.2s, opacity 0.2s 0.2s;
    }
    img {
      width: 52px;
      height: 48px;
      @include sm {
        width: 42px;
        height: 38px;
      }
    }
    span {
      font-family: "Inter", Poppins, sans-serif;
      font-style: italic;
      font-size: 20px;
      font-style: italic;
      font-weight: 800;
      line-height: 24.2px;
      text-align: center;
      color: #7b7d7e;
      @include sm {
        display: none;
      }
    }
  }

  .button-container {
    height: 250px;
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include sm {
      width: 170px;
      height: auto;
      gap: 0px;
      gap: 10px;
      // Initially hide content (visibility hidden and opacity 0)
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.2s, opacity 0.2s 0.2s; // Adjust delay to match sidebar transition
    }

    @include lg {
      width: 200px;
      height: 200px;
      margin-top: 10px;
      margin-left: 10px;
      gap: 0px;
      justify-content: none;
      // Initially hide content (visibility hidden and opacity 0)
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.2s, opacity 0.2s 0.2s; // Adjust delay to match sidebar transition
    }

    .listItem {
      width: 150px;
      height: 40px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include sm {
        height: 36px;
      }
    }
    .active-bg {
      background: #dad9d9;
      color: black;
    }
  }

  .logout {
    height: auto;
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
    margin-top: auto;
    margin-bottom: 50px;

    @include sm {
      margin-bottom: 150px;
    }
  }
}

// responsiveness updates for the sidebar
.open-sidebar {
  @include sm {
    width: 200px;
    position: fixed;
    margin-top: 55px;
    z-index: 10;
    border: none;
    border-top-right-radius: 26px;
    height: 100vh;

    // Show content after sidebar is expanded
    .button-container,
    .icon {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 0.2s, opacity 0.2s 0.2s; // Delay content for 1 second
    }
  }
  @include lg {
    width: 250px;
    position: fixed;
    margin-top: 55px;
    z-index: 10;
    border: none;
    border-top-right-radius: 26px;
    height: 100vh;

    // Show content after sidebar is expanded
    .button-container,
    .icon {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 0.2s, opacity 0.2s 0.2s; // Delay content for 1 second
    }
  }
}
.close-sidebar {
  @include sm {
    width: 0;
    position: fixed;

    // Keep content hidden while the sidebar is closed
    .button-container {
      visibility: hidden;
      opacity: 0;
      transition: none;
    }
  }
  @include lg {
    width: 0;
    position: fixed;

    // Keep content hidden while the sidebar is closed
    .button-container {
      visibility: hidden;
      opacity: 0;
      transition: none;
    }
  }
}
